<h2><%= @check %></h2>
<%= failing = Host.hosts_failing(@check)
    succeeding = Host.hosts_succeeding(@check)
    if failing.size > 0
"#{failing.size}/#{failing.size + succeeding.size} hosts failing"
else
"all hosts pass"
end %>
<br>

<!-- fixme refactor -->
<% if failing.size > 0 %>
<div id="failing">
  <% failing.each do |h|
     check = h.check(@check) %>
  <div id="<%= check.hostlint_id %>">
  <%= hostlink(h) %> <%= status(check) %>
  <br>
  <% if check.body.size > 0 %>
  <pre><%= check.body %></pre>
  <% end %>
  </div>
  <% end %>
</div>
<% end %>

<% if succeeding.size > 0 %>
<div id="succeeding">
  <% succeeding.each do |h|
     check = h.check(@check) %>
  <div id="<%= check.hostlint_id %>">
  <%= hostlink(h) %> <%= status(check) %>
  <br>
  <% if check.body.size > 0 %>
  <pre><%= check.body %></pre>
  <% end %>
  </div>
  <% end %>
</div>
<% end %>
