<h3><%= @banner %> checks matching /<%= params["keyword"] %>/</h3>

<% @checks.each do |host, checks| %>
<%= checks.size %>
<div>

  <% checks.each do |c| %>
  <%= hostlink(host) %>::<%= checklink(c.name) %> <%= status(c) %>
  <pre><%= c.body %></pre>
  <% end %>
</div>
<% end %>
